#landing-container {
  margin: 0 $medium-spacing;
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid $white-color;
}

.no-search {
  text-align: center;
  font-size: $superLarge-sizes;
  margin: $superLarge-spacing 0;
}