/*Fonte*/
$font-base: Nunito, sans-serif;

/*Colors*/
$primary-color: #74a8d9;
$secondary-color: #b5d0e6;
$background-color: #efefef;
$lightGray-color: #d6cfcf;
$darkGray-color: #dedede;
$input-color: #b1a9a9;
$white-color: #fff;
$black-color: #000;
$danger-color: #e75165;
$success-color: #80e977;

/*Spacings*/
$small-spacing: 1rem;
$medium-spacing: 2rem;
$large-spacing: 3rem;
$superLarge-spacing: 5rem;
$extraLarge-spacing: 6rem;

/*Font Sizes*/
$small-sizes: 1.2rem;
$medium-sizes: 1.6rem;
$large-sizes: 2rem;
$superLarge-sizes: 3rem;
$extraLarge-sizes: 5rem;

/*Breakpoints for responsive*/
$BREAKPOINT-DESK: "only screen and (max-width: 1280px)";
$BREAKPOINT-TABLET-LAND: "only screen and (max-width: 975px)";
$BREAKPOINT-TABLET: "only screen and (max-width: 600px)";
$BREAKPOINT-MOBILE-LAND: "only screen and (max-width: 480px)";