html {
  font-size: 60%;
}

body {
  font-family: $font-base;
  color: $primary-color;
  background-color: $background-color;
}

body, input, button, textarea {
  font-size: $medium-sizes;
}

@media #{$BREAKPOINT-TABLET} {
  html {
    font-size: 62.5%;
  }
}

.toast-container .Toastify__toast--success {
  background-color: $success-color;
  font-size: $medium-sizes - 0.2rem;
}

.toast-container .Toastify__toast--error {
  background-color: $danger-color;
  font-size: $medium-sizes - 0.2rem;
}

#container {
  max-width: 60rem;
  background: $white-color;
  margin: $large-spacing auto;
  padding: $large-spacing;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

  @media #{$BREAKPOINT-TABLET} {
    margin-left: $medium-spacing;
    margin-right: $medium-spacing;
  }
}